/* src/styles/MealList.css */
.meal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nomeal{
    font-size: 1.2rem;
    padding: 2rem;
    text-align: center;
    font-weight: bolder;
    }

@media screen and (min-device-width: 375px) and (max-device-width: 768px) { 

    .nomeal{
    font-size: 1.2rem;
    padding: 2rem;
    text-align: center;
    font-weight: bolder;
    }
 }
