/* src/styles/MealCard.css */
.meal-card {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

.meal-card img {
    width: 85%;
    border-radius: 10px;
}

.meal-card button {
    margin-top: 10px;
    padding: 10px 20px;
 
    cursor: pointer;
 color: #007bff;
   
    border: none;
    border-radius: 5px;
}

@media (min-width: 600px) {
    .meal-card {
        width: 45%;
    }
}

@media (min-width: 900px) {
    .meal-card {
        width: 23%;
    }
}
